<section class="h100 me">

    <div class="me__list-container h100">
        <ul class="f-col me__list">
            <li>
                <h1>
                    Joseph Finlayson
                    <dd-fake-typer prefix="'- '" order="'random'">
                        <dd-fake-typer-option>Tech Lead</dd-fake-typer-option>
                        <dd-fake-typer-option>Scrum Master</dd-fake-typer-option>
                        <dd-fake-typer-option>Developer</dd-fake-typer-option>
                        <dd-fake-typer-option>Debugger</dd-fake-typer-option>
                        <dd-fake-typer-option>Hacker</dd-fake-typer-option>
                    </dd-fake-typer>
                </h1>

            </li>

            <li class="f-1 ">
                <i class="fa fa-map-marker"></i>
                <div>Berlin, Germany</div>

            </li>
            <li class="f-1 ">
                <i class="fa fa-suitcase"></i>
                <div>Full Stack Developer and Tech Lead</div>
            </li>

            <li class="f-1 ">
                <h3>JS / Java / React/ Node / AWS / Spring / Kubernetes / Devops</h3>
            </li>

        </ul>

    </div>


</section>
