<section class="h100 me">

    <div class="me__list-container h100">
        <ul class="f-col me__list">
            <li>
                <h1>
          Joseph Finlayson

          <dd-fake-typer prefix="'- '" order="'random'">
            <dd-fake-typer-option>developer</dd-fake-typer-option>
            <dd-fake-typer-option>debugger</dd-fake-typer-option>
            <dd-fake-typer-option>hacker</dd-fake-typer-option>
            <dd-fake-typer-option>tester</dd-fake-typer-option>

          </dd-fake-typer>
        </h1>
            </li>
            <li class="f-1 ">
                <i class="fa fa-map-marker"></i>
                <div>London, England</div>
            </li>
            <li class="f-1 ">
                <i class="fa fa-suitcase"></i>
                <div>JavaScript Developer</div>
            </li>

        </ul>

    </div>


</section>
